/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-style: italic;
  color: #111bbb;
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 30px;
  border-radius: 15px;
}

#gameButtonArea > button{
  width:200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}
#btn1{
  background:limegreen;
}

#btn1:active, #btn1.lit{
  background:mediumaquamarine;
}
#btn2{
  background:aliceblue;
}
#btn2:active, #btn2.lit{
  background:darkblue;
}
#btn3{
  background: gold;
}
#btn3:active, #btn3.lit{
  background: goldenrod;
}
#btn4{
  background: crimson;
}
#btn4:active, #btn4.lit{
  background:darkred;
}
#btn5{
  background: lightSalmon;
}
#btn5:active, #btn5.lit{
  background:purple;
}
#btn6{
  background: lightSteelBlue;
}
#btn6:active, #btn6.lit{
  background: lime;
}